<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0" />
<!-- <app-exito [msg]="msgQR" *ngIf="existeMsgQRExito"></app-exito> -->




<div class="spinner-container" *ngIf="usuarios().length == 0  ">
    <app-spinner />
</div>

<!-- <div class="container" *ngIf="usuarios.length == 0 && noexistenUsuarios ">
    <app-no-encontrado mensaje="No se encontraron usuarios disponibles"></app-no-encontrado>
</div> -->



<app-buscador (refresh)="refetchUsuarios('')" (search)="search($event)" />

<!----------contenedor de las tablas-------------
    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
           
                <div class="table-responsive">------->

<div class="flex">
    <h3>Lista de Usuarios</h3>

    @if (permiso().write) {
    <app-open-custom-modal>
        <app-registro-usuario (refresh)="obtenerUsuarios()" />

    </app-open-custom-modal>
    }

</div>


<table class="resp">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let usuario of usuarios|busqueda:page:busqueda"> -->
        <tr *ngFor="let usuario of usuarios()">

            <!-- <app-no-encontrado *ngIf="usuario.error" [mensaje]="usuario.msg"></app-no-encontrado> -->


            <td data-title="Nombre">{{usuario.nombre | uppercase}}</td>
            <td data-title="RFC">{{usuario.rfc | uppercase}}</td>
            <td data-title="Direccion">{{usuario.direccion | uppercase}}</td>
            <td data-title="Telefono">{{usuario.telefono}}</td>
            <td class="right" data-title="Email">{{usuario.email}}</td>
            <td class="icons" data-title="Acciones">
                <div class="btn-group">

                    @if (permiso().edit && usuario.isActive) {
                    <button class="btn" (click)="actualizarUsuario(usuario)"><i
                            class="fa-solid fa-square-pen fa-xl"></i></button>

                    @if (!usuario.qr) {
                    <button class="btn" (click)="enviarQR(usuario.id)"><i class="fa-solid fa-qrcode fa-lg"></i></button>
                    }

                    }

                    @if (permiso().delete && usuario.isActive) {
                    <label class="btn" for="btn-modal-delete" (click)="referenciaUsuarioEliminar(usuario)"><i
                            class="fa-solid fa-user-xmark fa-lg"></i></label>
                    } @else if(permiso().delete && !usuario.isActive) {
                    <label for="btn-modal-delete-def" (click)="referenciaUsuarioEliminar(usuario)">

                        <i class="fa-solid fa-trash fa-lg btn"></i>
                    </label>

                    <!-- From Uiverse.io by mrhyddenn -->
                    @if (usuario) {
                    <app-switch-box [id]="usuario.id" (activado)="activarUsuario($event)" />
                    }

                    }



                </div>

            </td>
        </tr>


        @if (metaData().totalPages) {
        <app-paginacion [actualPage]="metaData().actualPage" [totalPages]="metaData().totalPages"
            (changePage)="refetchUsuarios('',$event)" />
        }

    </tbody>
</table>
<!---        </div>
            </div>       
        </div>
    </section>-->


<app-modal *ngIf="usuarioparaEliminar()"
    msg="¿Esta seguro que quiere eliminar al usuario {{usuarioparaEliminar()?.email}} ?" titulo="Eliminar"
    [funcion]="eliminarUsuario.bind(this)" modal="btn-modal-delete" />

<app-modal *ngIf="usuarioparaEliminar()"
    msg="¿Esta seguro que quiere eliminar definitivamente al usuario {{usuarioparaEliminar()?.email}} ?"
    titulo="Eliminación Permanentemente" [funcion]="eliminacionDefinitiva.bind(this)" modal="btn-modal-delete-def" />


<app-actualizar-usuario *ngIf="mostrarFormularioEmergente()" [usuario]="usuarioparaActualizar()!"
    (msgExito)="refetchUsuarios($event)" (ocultar)="mostrarFormularioEmergente.set($event)" />