<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0"></app-exito>

<app-errores-backend [mensaje]="error" *ngIf="existeError"></app-errores-backend>

<div class="activity-grid">
    <div class="container">
        <img src="assets/img/logo.svg">
        <p>Cambiar la contraseña de</p>
        <p>{{nombreUsuario()}}</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="user-details">
                <div class="group">
                    <input type="password" formControlName="last_password">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Contraseña Anterior</label>
                    <app-errores-frontend *ngIf="campoValido('last_password')"
                        mensaje="Debe tener al entre 8 y 16 caracteres, al menos un dígito, una minúscula, una mayúscula y un caracter no alfanumérico"></app-errores-frontend>
                </div>
                <div class="group">
                    <input type="password" formControlName="new_password">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nueva Contraseña</label>
                    <app-errores-frontend *ngIf="campoValido('new_password')"
                        mensaje="Debe tener al entre 8 y 16 caracteres, al menos un dígito, una minúscula, una mayúscula y un caracter no alfanumérico"></app-errores-frontend>
                </div>
                <div class="group">
                    <input type="password" formControlName="new_password_confirmation">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Confirma Nueva Contraseña </label>
                    <app-errores-frontend *ngIf="campoValido('new_password_confirmation')"
                        mensaje="Las  nuevas contraseñas no coinciden"></app-errores-frontend>

                </div>
            </div>
            <div class="wrapper">
                <button href="#0" class="btn10">
                    <span>ACTUALIZAR</span>
                    <div class="transition"></div>
                </button>
            </div>

        </form>

    </div>
</div>