@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(19, 18, 18);
  line-height: 0.6;
  font-family: "Rosario", sans-serif;
  padding: 0 1.5em;
}
.container {
  max-width: 380px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px 0 -20px 0;
}

/*.email{
    display: block;
    text-align: center; 
    align-items: center;
    border-radius: 20px; 
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto; 
    background: #fff; 
    box-shadow: 0 2px 15px rgba(64,64,64,.7); 
    width: 500px; 
    height: 800px;
  }*/
.container img {
  /*email*/
  margin-bottom: 0rem;
  text-align: center;
  width: 200px;
  height: 100px;
}
.container p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  padding: auto;
  margin: 11px;
}

/* responsivoo*/
@media screen and (min-width: 300px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  input {
    width: 230px;
  }
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .container p {
    text-align: center;
    font-size: 15 !important;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    /* width: 14rem; */
  }
  .container {
    padding: 10px;
  }
}
