<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0"></app-exito>

<app-errores-backend [mensaje]="error" *ngIf="existeError"></app-errores-backend>

<div class="activity-grid">
    <div class="container">
        <img src="assets/img/logo.svg">
        <p>Cambiar la contraseña de</p>
        <p>{{nombreUsuario()}}</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="user-details">

                <app-text type="password" error="Campo requerido" fieldName="last_password" [form]="form"
                    label="Contraseña Anterior" (removeAlerts)="this.removerAlertas()" />

                <app-text type="password" error="Campo requerido" fieldName="new_password" [form]="form"
                    label="Nueva Contraseña" (removeAlerts)="this.removerAlertas()" />

                <app-text type="password" error="Las  nuevas contraseñas no coinciden"
                    fieldName="new_password_confirmation" [form]="form" label="Confirma Nueva Contraseña"
                    (removeAlerts)="this.removerAlertas()" />
            </div>

            <app-btn text="Actualizar contraseña" />
        </form>

    </div>
</div>