.add {
  background-color: rgb(132, 81, 227);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  padding: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* min-height: 100vh; */
  min-height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.379);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  padding: 0px 20px 20px 20px;
  background-color: white;
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.close-modal-btn {
  padding-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  color: red;
}
