@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(19, 18, 18);
  line-height: 0.6;
  font-family: "Rosario", sans-serif;
  padding: 0 1.5em;
}
.wave {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.email {
  display: block;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  width: 500px;
  height: 800px;
}
.email img {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 200px;
  height: 200px;
}
.email p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: auto;
}
/* form email */
form {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 300px;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-radius: 20px; /* 
    border-bottom:1px solid #757575; */
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: rgb(46, 46, 46);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 13px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 16px;
  color: #3e3798;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 280px;
  left: 10px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6c63ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #6c63ff;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #6c63ff;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #6c63ff;
  }
  to {
    width: 0;
    background: transparent;
  }
}
