<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0"></app-exito>

<app-errores-backend [mensaje]="msgError" *ngIf="existeError"></app-errores-backend>

<section class="email">
    <img src="assets/img/logo.svg">
    <p>Cambiar la contraseña </p>
    <!-- <p>@Koso</p>  -->
    <form [formGroup]="form" (ngSubmit)="submit()">


        <app-text error="La contraseña es obligatoria" fieldName="new_password" [form]="form" label="Nueva contraseña"
            type="password" />

        <app-text error="Las  nuevas contraseñas no coinciden" fieldName="new_password_confirmation" [form]="form"
            label="Confirma Nueva contraseña" type="password" />



        <div class="wrapper">
            <button href="#0" class="btn10">
                <span>Send</span>
                <div class="transition"></div>
            </button>
        </div>

    </form>

</section>