<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0"></app-exito>

<app-errores-backend [mensaje]="msgError" *ngIf="existeError"></app-errores-backend>

<section class="email">
    <img src="assets/img/logo.svg">
    <p>Cambiar la contraseña </p>
    <!-- <p>@Koso</p>  -->
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="group">
            <input type="password" formControlName="new_password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nueva Contraseña</label>
            <app-errores-frontend *ngIf="campoValido('new_password')"
                mensaje="La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico"></app-errores-frontend>
        </div>
        <div class="group">
            <input type="password" formControlName="new_password_confirmation">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirma Nueva Contraseña </label>
            <app-errores-frontend *ngIf="campoValido('new_password_confirmation')"
                mensaje="Las  nuevas contraseñas no coinciden"></app-errores-frontend>

        </div>

        <div class="wrapper">
            <button href="#0" class="btn10">
                <span>Send</span>
                <div class="transition"></div>
            </button>
        </div>

    </form>

</section>