<ng-container *ngIf="errorServidor().length > 0">
    <div class="mensajes-container">

        <!-- <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend> -->
        <app-errores-backend [mensaje]="errorServidor()"></app-errores-backend>
    </div>


</ng-container>


<app-exito [msg]="msgExito()" *ngIf="msgExito().length >0"></app-exito>

<div class="activity-grid">
    <div class="container">
        <div class="title">Formulario de Registro de Usuarios</div>
        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="user-details">
                <app-text error="El campo es requerido" fieldName="nombre" [form]="form" label="Nombre"
                    (removeAlerts)="this.removerAlertas()" />

                <app-text error="Tiene que ser un rfc valido" fieldName="rfc" [form]="form" label="RFC"
                    (removeAlerts)="this.removerAlertas()" />

                <app-text error="El campo es requerido" fieldName="direccion" [form]="form" label="Dirección"
                    (removeAlerts)="this.removerAlertas()" />

                <app-text error="Tiene que ser un numero telefonico valido" fieldName="telefono" [form]="form"
                    label="Telefono" (removeAlerts)="this.removerAlertas()" />
                <app-text type="email" error="Tiene que ser un correo valido" fieldName="email" [form]="form"
                    label="Email" (removeAlerts)="this.removerAlertas()" />
            </div>

            <app-btn text="Registrar" />


        </form>
    </div>
</div>