<!-- <app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0" /> -->
<!-- <app-exito [msg]="msgQR" *ngIf="existeMsgQRExito"></app-exito> -->



<!-- <div class="spinner-container" *ngIf="personal().length == 0  ">
    <app-spinner />
</div> -->




<!-- <app-buscador (refresh)="refetchPersonal('')" (search)="search($event)" /> -->

<!----------contenedor de las tablas-------------
        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
               
                    <div class="table-responsive">------->
<div class="flex">
    <h3>Lista de Modulos</h3>

    <app-custom-modal>
        <button modalTrigger class="btn" (click)="openModal()">
            <i class="fa-solid fa-book-bookmark fa-xl mr"></i>
            Agregar modulo</button>
        <div modalContent class="scrollbar">
            <h3>Agregar Modulo</h3>

            <form action="" [formGroup]="form" (ngSubmit)="submit()">
                <div class="d-flex">
                    <app-text error="El campo es obligatorio" fieldName="name" label="Nombre del modulo"
                        [form]="form" />
                    @if(!isSubmodule()){
                    <app-text error="El campo es obligatorio" fieldName="route" label="Ruta" [form]="form" />

                    }

                    <div class="icon-container">
                        <i class="fa {{form.get('icon')?.value}}  "></i>
                        <app-text error="El campo es obligatorio" fieldName="icon" label="Icono" [form]="form" />

                    </div>

                </div>


                <button type="button" modalTrigger class="btn d-block" (click)="addSubmodule()"
                    style="align-self: flex-start;">
                    <i class="fa-solid fa-book-bookmark fa-xl mr"></i>
                    Agregar Submodulos</button>


                @if(submodules.length > 0){
                @for (submodule of submodules; track $index) {
                <div formArrayName="submodules">
                    <div class="d-flex" [formGroupName]="$index">
                        <app-text error="El campo es obligatorio" fieldName="name" label="Nombre del submodulo"
                            [form]="submodule" />
                        <app-text error="El campo es obligatorio" fieldName="route" label="Ruta" [form]="submodule" />
                        <div class="icon-container">
                            <i class="fa {{submodule.get('icon')?.value}}  "></i>
                            <app-text error="El campo es obligatorio" fieldName="icon" label="Icono"
                                [form]="submodule" />

                        </div>

                    </div>
                </div>

                }


                }
                <div class="right-btn">
                    <button class="btn " type="submit">
                        <i class="fa-solid fa-paper-plane fa-xl mr"></i>
                        Enviar
                    </button>
                </div>


            </form>

        </div>




    </app-custom-modal>
</div>

<div class="grid">
    <div class="grid-headers">
        <h5>Nombre del modulo</h5>
        <h5>Ruta</h5>
        <h5>Icono</h5>
        <h5>Acciones</h5>

    </div>

    <div class="grid-body">
        @for (module of modulos(); track $index) {
        @if(module?.Submodulos && module.Submodulos!.length >0) {
        <div class="grid-subbody-expanded " id="expanded-row-{{module.id}}" (click)="expandRows(module.id)">
            <h5>{{module.name}}</h5>
            <h5>{{module.route}}</h5>
            <h5><i class="fa {{module.icon}}"></i> </h5>
            <h5><i class="fa fa-edit"></i> </h5>

            <div class="grid-accordeon-header " id="accordeon-{{module.id}}">
                <h5>Nombre del Submodulo</h5>
                <h5>Ruta</h5>
                <h5>Icono</h5>
                <h5>Acciones </h5>
            </div>

            <div class="grid-accordeon-body    " *ngFor="let submodule of module.Submodulos;"
                id="accordeon-body-{{module.id}}">
                <h5>{{submodule.name}}</h5>
                <h5>{{submodule.route}}</h5>
                <h5><i class="fa {{submodule.icon}}"></i> </h5>
                <h5><i class="fa fa-edit"></i> </h5>
            </div>

        </div>
        } @else {

        <div class="grid-subbody">
            <h5>{{module.name}}</h5>
            <h5>{{module.route}}</h5>
            <h5><i class="fa {{module.icon}}"></i> </h5>
            <i class="fa fa-edit"></i>



        </div>

        }



        }





    </div>



</div>