/* OPEN MODAL BUTTON */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* MODAL BTN */
.btn {
  padding: 10px 15px;
  background-color: #3e3798;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.mr {
  margin-right: 10px;
}

/* accordeon */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
  background: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.accordion-content.open {
  padding: 1rem;
  max-height: 500px; /* o un valor suficientemente grande */
}

/* table */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.grid-headers {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  overflow: hidden;
}

.grid-headers h5 {
  margin: 0;
  text-align: center;
  padding: 15px;
  border-bottom: none;
  border-left: 1px solid #ccc;
}

h5 {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.grid-body,
.grid-subbody,
.grid-subbody-expanded,
.grid-accordeon-header,
.grid-accordeon-body {
  grid-column: 1 / span 4;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
}

.grid-subbody-expanded {
  cursor: pointer;
}

.grid-subbody-expanded::before {
  content: ">";
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.grid-subbody-expanded.active::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.grid-accordeon-header,
.grid-accordeon-body {
  height: 0;
  visibility: hidden;
  position: absolute;
  z-index: -22;
}

.grid-accordeon-header.active,
.grid-accordeon-body.active {
  height: 100%;
  visibility: visible;
  position: relative;
}
