<!-- <app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0" /> -->
<!-- <app-exito [msg]="msgQR" *ngIf="existeMsgQRExito"></app-exito> -->



<!-- <div class="spinner-container" *ngIf="personal().length == 0  ">
    <app-spinner />
</div> -->




<!-- <app-buscador (refresh)="refetchPersonal('')" (search)="search($event)" /> -->

<!----------contenedor de las tablas-------------
        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
               
                    <div class="table-responsive">------->
<div class="flex">
    <h3>Lista de Personal</h3>

    <app-custom-modal>
        <button modalTrigger class="btn" (click)="openModal()">
            <i class="fa-solid fa-book-bookmark fa-xl mr"></i>
            Agregar modulo</button>



    </app-custom-modal>
</div>

<div class="grid">
    <div class="grid-headers">
        <h5>Nombre del modulo</h5>
        <h5>Ruta</h5>
        <h5>Icono</h5>
        <h5>Acciones</h5>

    </div>

    <div class="grid-body">
        <div class="grid-subbody-expanded">
            <h5>usuarios</h5>
            <h5>/users</h5>
            <h5>fa-users</h5>
            <h5><i class="fa fa-edit"></i> </h5>

            <div class="grid-accordeon-header    ">
                <h5>Nombre del Submodulo</h5>
                <h5>Ruta</h5>
                <h5>Icono</h5>
                <h5>Acciones </h5>
            </div>

            <div class="grid-accordeon-body      ">
                <h5>usuarios</h5>
                <h5>/users</h5>
                <h5>fa-users</h5>
                <h5><i class="fa fa-edit"></i> </h5>
            </div>

        </div>
        <div class="grid-subbody">
            <h5>modulos</h5>
            <h5>/modulo</h5>
            <h5>fa-prgf</h5>
            <h5><i class="fa fa-edit"></i></h5>



        </div>



    </div>



</div>