<!-- <app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0" /> -->
<!-- <app-exito [msg]="msgQR" *ngIf="existeMsgQRExito"></app-exito> -->



<!-- <div class="spinner-container" *ngIf="personal().length == 0  ">
    <app-spinner />
</div> -->




<!-- <app-buscador (refresh)="refetchPersonal('')" (search)="search($event)" /> -->

<!----------contenedor de las tablas-------------
        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
               
                    <div class="table-responsive">------->
<div class="flex">
    <h3>Lista de Personal</h3>

    <app-custom-modal>
        <button modalTrigger class="btn" (click)="openModal()">
            <i class="fa-solid fa-book-bookmark fa-xl mr"></i>
            Agregar modulo</button>



    </app-custom-modal>
</div>