<div id="myModaledit" class="modaledit">

    <div class="modal-content-edit">
        <span class="closeedit" (click)="ocultarFormulario()">&times;</span>
        <p>Editar Personal</p>
        <form class="form-edit" [formGroup]="form" (ngSubmit)="submit()">


            <app-text error="El campo es requerido" fieldName="name" [form]="form" label="Rol"
                (removeAlerts)="this.removerAlertas()" />



            <app-textarea error="Tiene que ser un rol  valido" fieldName="description" [form]="form" />




            <app-btn text="Guardar" />
        </form>
    </div>
</div>