<div id="myModaledit" class="modaledit">

    <div class="modal-content-edit">
        <span class="closeedit" (click)="ocultarFormulario()">&times;</span>
        <p>Editar Usuario </p>
        <form class="form-edit" [formGroup]="form" (ngSubmit)="submit()">


            <app-text error="El campo es requerido" fieldName="nombre" [form]="form" label="Nombre"
                (removeAlerts)="this.removerAlertas()" />


            <app-text error="Tiene que ser un rfc valido" fieldName="rfc" [form]="form" label="RFC"
                (removeAlerts)="this.removerAlertas()" />

            <app-text error="El campo es requerido" fieldName="direccion" [form]="form" label="Dirección"
                (removeAlerts)="this.removerAlertas()" />

            <app-text error="Tiene que ser un numero telefonico valido" fieldName="telefono" [form]="form"
                label="Telefono" (removeAlerts)="this.removerAlertas()" />


            <app-text error="Tiene que ser un correo valido" fieldName="email" [form]="form" label="Email"
                (removeAlerts)="this.removerAlertas()" />

            <app-btn text="Guardar" />
        </form>
    </div>
</div>