<ng-container *ngIf="existeError">
    <div class="mensajes-container">

        <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend>
    </div>


</ng-container>

<app-exito [msg]="msgExito()" *ngIf="msgExito().length > 0"></app-exito>

<div class="activity-grid">
    <div class="container">
        <div class="title">Formulario de Registro del Personal</div>
        <form action="#" [formGroup]="form" (ngSubmit)="submit()">
            <div class="user-details">

                <app-text error="El campo es requerido" fieldName="nombre" [form]="form" label="Nombre"
                    (removeAlerts)="this.removerAlertas()" />
                <app-text error="Tiene que ser un numero valido" fieldName="telefono" [form]="form" label="Telefono"
                    (removeAlerts)="this.removerAlertas()" />

                <app-text type="email" error="Tiene que ser un correo valido" fieldName="email" [form]="form"
                    label="Email" (removeAlerts)="this.removerAlertas()" />

                <app-text type="password" error="La contraseña es requerida" fieldName="password" [form]="form"
                    label="Contraseña" (removeAlerts)="this.removerAlertas()" />

                <app-select error="Campo requerido" fieldName="rolId" [options]="roles()" [form]="form" />



            </div>
            <div class="wrapper">
                <button href="#0" class="btn10">
                    <span>REGISTRAR</span>
                    <div class="transition"></div>
                </button>
            </div>

        </form>
    </div>
</div>