/*-----------------contenedor del formulario------------------------------------------------------------*/
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-top: 20px;
  overflow-x: auto;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #3c14ec, rgb(187, 192, 255));
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px 0 -20px 0;
}

.mensajes-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* responsivoo*/
@media screen and (min-width: 300px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  input {
    width: 230px;
  }
  .container {
    width: 80%;
  }
  .controls {
    width: 83%;
  }
}
