@if(msgExito().length >0){

<app-exito [msg]="msgExito()"> </app-exito>
}

<app-errores-backend [mensaje]="msgError()" *ngIf="msgError().length > 0"></app-errores-backend>

<img class="wave" src="/assets/img/wave2.png">

<div class="activity-grid">
    <div class="container">
        <!--<section class="email">-->
        <img src="/assets/img/logo.svg">
        <p>Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para
            restablecer la contraseña.</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="user-details">
                <app-text type="email" error="Debe de ser un correo valido" fieldName="email" [form]="form"
                    label="Email" />

                <a routerLink="/login">Recordaste tu contraseña?, Inicia Sesion</a>

                <div class="wrapper">
                    <button type="submit" class="btn10">
                        <span>Enviar</span>
                        <div class="transition"></div>
                    </button>
                </div>
            </div>
        </form>

        <!--</section>-->
    </div>
</div>