<section class="flex">

    <nav class="sidebar" [ngClass]="{ 'active': toggleOpenMenu() }">
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x" (click)="toogleMenu()"></i>
        </div>
        @for (module of modulos(); track $index) {
        @if(module.Submodulos && module.Submodulos!.length > 0) {
        <div class="nav_item collapse_items" (mouseenter)="hoverSubMenu.set(true)"
            (mouseleave)="hoverSubMenu.set(false)">
            <div class="spread-collapse-items" id="menu-{{module.id}}" (click)="showSubMenu(module.id)">
                <i class="fa {{module.icon}}"></i>

                <a class="hidding-text"
                    [ngClass]="{'text-appear':toggleOpenMenu() == true, 'hidding-text':toggleOpenMenu() == false }">{{module.name}}</a>

                <i class="fa-regular fa-circle-up arrows" id="submenu-arrow-{{module.id}}"
                    [ngClass]="{'text-appear':toggleOpenMenu() == true, 'hidding-text':toggleOpenMenu() == false }"></i>
            </div>


            <div style="width: 100%;" class="submenu" id="{{module.id}}">
                @for (submodule of module.Submodulos; track $index) {

                <div [ngClass]="{'active-subroutes':hoverSubMenu()}" routerLink="{{submodule.route}}">

                    <i class="fa {{submodule.icon}}" style="margin-right: 10px; padding: 10px;"></i>

                    <a>{{submodule.name}}</a>

                </div>
                }


            </div>



        </div>

        } @else {

        <div class="nav_item" routerLink="{{module.route}}">
            <i class="fa {{module.icon}}"></i>

            <a
                [ngClass]="{'text-appear':toggleOpenMenu() == true, 'hidding-text':toggleOpenMenu() == false }">{{module.name}}</a>

        </div>
        }



        }








    </nav>



    <div class="content">
        <div class="header">
            <h1>QRUD</h1>
            <div class="profile">
                <p>Bienvenido!</p>
                <a class="random" href="#" id="cambioColor">{{inicial}}</a>
                <p>{{nombrePersonal}}</p>

            </div>

        </div>


        <router-outlet></router-outlet>



    </div>
</section>