<div class="header">
    <a href="#" class="logo">QRUD</a>
    <div class="header-right">
        <a class="random" href="#" id="cambioColor">{{inicial}}</a>
        <a>Bienvenido! </a>
        <a>{{nombrePersonal}}</a>
    </div>
</div>
<div class="l-navbar " id="navbar" [ngClass]="{'expander':expandirMenu,'movil':!expandirMenu}">
    <nav class="nav">
        <div>
            <div class="nav__brand">

                <i class="fa-solid fa-bars nav__toggle" id="nav-toggle" (click)="mostrarMenu()"></i>
            </div>
            <div class="nav__list">
                <div class="profile">
                    <img src="/assets/img/logo.svg" alt="">
                </div>


                <div class="nav__link  collapse" [ngClass]="{'movil-links':!expandirMenu}"
                    (click)="mostrarOpcionesUsuario()" *ngIf="esAdmin || esMaster || esAux ">
                    <i class="fa-solid fa-users"></i>
                    <span class="nav__name">Usuarios</span>


                    <i class="fa-solid fa-chevron-down collapse__link"
                        [ngClass]="{'rotate':mostrarOpcionesMenuUsuario}"></i>

                    <ul class="collapse__menu " [ngClass]="{'showCollapse':mostrarOpcionesMenuUsuario}">

                        <ng-container *ngIf="esMaster || esAdmin">
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink"
                                *ngFor="let ruta of rutas[0]">{{ruta.nombre}}</a>

                        </ng-container>

                        <ng-container *ngIf="esAux">
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink"
                                *ngFor="let ruta of rutas">{{ruta.nombre}}</a>
                        </ng-container>

                    </ul>
                </div>
                <div class="nav__link collapse" [ngClass]="{'movil-links':!expandirMenu}"
                    (click)="mostrarOpcionesPersonal()" *ngIf="esMaster || esAdmin">
                    <i class="fa-solid fa-users-gear"></i>
                    <span class="nav__name">Personal</span>

                    <i class="fa-solid fa-chevron-down collapse__link"
                        [ngClass]="{'rotate':mostrarOpcionesMenuPersonal}"></i>

                    <ul class="collapse__menu" [ngClass]="{'showCollapse':mostrarOpcionesMenuPersonal}">
                        <ng-container *ngIf="esMaster || esAdmin">
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink"
                                *ngFor="let ruta of rutas[1]">{{ruta.nombre}}</a>

                        </ng-container>

                    </ul>
                </div>
                <div class="nav__link collapse " [ngClass]="{'movil-links':!expandirMenu}"
                    (click)="mostrarOpcionesRol()" *ngIf="esMaster">
                    <i class="fa-solid fa-user-tag"></i>
                    <span class="nav__name">Rol</span>

                    <i class="fa-solid fa-chevron-down collapse__link"
                        [ngClass]="{'rotate':mostrarOpcionesMenuRol}"></i>

                    <ul class="collapse__menu " [ngClass]="{'showCollapse':mostrarOpcionesMenuRol}">
                        <ng-container *ngIf="esMaster || esAdmin">
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink"
                                *ngFor="let ruta of rutas[2]">{{ruta.nombre}}</a>

                        </ng-container>
                    </ul>
                </div>

                <div class="nav__link collapse" [ngClass]="{'movil-links':!expandirMenu}" (click)="mostrarOpcionesQR()"
                    *ngIf="esAdmin || esMaster || esAux ">
                    <i class="fa-solid fa-qrcode"></i>
                    <span class="nav__name">QR</span>
                    <i class="fa-solid fa-chevron-down collapse__link" [ngClass]="{'rotate':mostrarOpcionesMenuQR}"></i>

                    <ul class="collapse__menu" [ngClass]="{'showCollapse':mostrarOpcionesMenuQR}">
                        <a routerLink="/qr" class="collapse__sublink">Escanear QR</a>
                    </ul>
                </div>

                <div class="nav__link collapse" [ngClass]="{'movil-links':!expandirMenu}"
                    (click)="mostrarOpcionesContrasena()" *ngIf="esAdmin || esMaster || esAux ">
                    <i class="fa-solid fa-key"></i>
                    <span class="nav__name">Contraseña</span>

                    <i class="fa-solid fa-chevron-down collapse__link"
                        [ngClass]="{'rotate':mostrarOpcionesMenuContrasena}"></i>

                    <ul class="collapse__menu" [ngClass]="{'showCollapse':mostrarOpcionesMenuContrasena}">
                        <a routerLink="/contrasena" class="collapse__sublink">Cambiar Contraseña</a>
                    </ul>
                </div>

            </div>
        </div>

        <a class="nav__link" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav__name">Salir</span>
        </a>
    </nav>
</div>

<main>
    <router-outlet></router-outlet>

</main>