.modaledit {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 100;
}

/* Modal Content/Box */
.modal-content-edit {
  width: 400px;
  background: #ffffff;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: #7971f9;
  box-shadow: 7px 13px 27px rgb(34, 34, 34);
}

/* The Close Button */
.closeedit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeedit:hover,
.closeedit:focus {
  color: rgb(146, 104, 245);
  text-decoration: none;
  cursor: pointer;
}

.form-edit {
  position: relative;
  margin-bottom: 19px;
}

.save-edit {
  text-align: center;
}
/*----------contenido modal-----------------*/
.group-edit {
  position: relative;
  margin-bottom: 30px;
}

.group-edit label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/*-----responsivo---*/
@media screen and (max-width: 600px) {
  .modal-content-edit {
    width: 340px;
  }
}
@media screen and (max-width: 360px) {
  .modal-content-edit {
    width: 300px;
  }
}
